@import "../../../assets/theme/theme";

.quiz {
  &__lists {
    padding-left: 15px;
  }

  &__question {
    margin-bottom: 0.5rem;
    display: block;
  }

  &__radio-group {
    display: inline-block;
  }

  &__radio-button-holder {
    @include flexbox;
    flex-direction: column;
  }

  &__btn {
    display: inline-block;

    &--submit {
      margin-top: 2rem;
    }

    &--reset {
      position: fixed;
      right: 0;
      top: 30%;
      border-radius: 0;
    }
  }

  @include respond-to(md-up) {
    width: 65%;
    margin: auto;
  }
}