<div class="quiz" *ngIf="jsonState">
  <div class="box-shadow" *ngIf="!isSubmittedSuccess">
    <form [formGroup]="quizForm" (ngSubmit)="handleOnSubmitAnswer(quizForm)">
      <h1 class="quiz__title title">AngularJS Quiz</h1>
      <div class="quiz__list shadow-book" [ngClass]="{required: ans.controls[answerIndex].invalid && isSubmitted}" formArrayName="answersId" *ngFor="let question of questionsData; let answerIndex = index">
        <div class="quiz__quiz-holder" [formGroupName]="answerIndex">
          <label class="quiz__question" id="{{question?.id}}">{{ question?.question }}*</label>
          <mat-radio-group class="quiz__radio-group" formControlName="answer" attr.aria-labelledby="{{question?.id}}">
            <div class="quiz__radio-button-holder">
              <mat-radio-button 
                class="quiz__radio-button radio-button" 
                id="a{{answerIndex}}{{option?.optionId}}"
                *ngFor="let option of question?.options" 
                [value]="option?.optionId" 
                [checked]="false"
                ngDefaultControl 
                (click)="handleChooseAnswer(option?.optionId, answerIndex)"
              >{{option?.name}}</mat-radio-button>
            </div>
          </mat-radio-group>
        </div>
      </div>

      <app-button type="raised" class="quiz__btn quiz__btn--submit" text="Submit" buttonType="submit" color="primary"></app-button>
      <app-button type="raised" class="quiz__btn quiz__btn--reset" addClass="btn btn__reset" text="Reset" buttonType="reset" color="warn"></app-button>
    </form>
  </div>
  
  <app-quiz-result [data]="questionsData" [result]="result" *ngIf="isSubmittedSuccess"></app-quiz-result>
</div>

<div class="box-shadow w-100" *ngIf="!jsonState && jsonState !== 0">
  <mat-spinner></mat-spinner>
</div>

<div class="box-shadow w-100" *ngIf="jsonState === 0">
  <p class="err__label" >Error Fetching API</p>
</div>
